workflows/granola_zapier_to_markdown.json
{
  "name": "Granola Zapier to Markdown (Fallback)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        320
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "granola-zapier-export",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "build-markdown",
      "name": "Build Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        320
      ],
      "parameters": {
        "jsCode": "function slugify(input) { return String(input || '').normalize('NFKD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 80); }\nfunction ymd(iso) { const d = new Date(iso || new Date().toISOString()); return { yyyy: d.getUTCFullYear(), mm: String(d.getUTCMonth() + 1).padStart(2, '0'), dd: String(d.getUTCDate()).padStart(2, '0') }; }\nfunction yamlScalar(v) { return String(v).replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"'); }\nconst p = $json; const env = { includeTranscript: String($env.INCLUDE_TRANSCRIPT || 'true').toLowerCase() === 'true', notesVaultRoot: ($env.NOTES_VAULT_ROOT || '/data/notes').replace(/\\/$/, ''), exportFolders: ($env.GRANOLA_EXPORT_FOLDERS || 'Exports/Markdown,Exports/1to1,Exports/Meetings').split(',').map(v => v.trim()).filter(Boolean), subpathMap: (() => { try { return JSON.parse($env.OPTIONAL_SUBPATH_MAP || '{}'); } catch { return {}; } })() };\nconst noteId = p.note_id || p.id || p.granola_note_id; if (!noteId) throw new Error('Missing note identifier in Zapier payload');\nconst folders = Array.isArray(p.folder_membership) ? p.folder_membership.map(f => typeof f === 'string' ? f : (f.name || '')).filter(Boolean) : (p.folder_name ? [p.folder_name] : []);\nif (folders.length && !folders.some(f => env.exportFolders.includes(f))) return [{ json: { status: 'skipped', reason: 'outside_export_folder', note_id: noteId } }];\nconst title = p.title || (p.calendar_event && p.calendar_event.title) || noteId; const slug = slugify(title) || noteId; const createdAt = p.created_at || p.updated_at || new Date().toISOString(); const updatedAt = p.updated_at || createdAt; const d = ymd(createdAt);\nconst chosenFolder = folders.find(f => env.exportFolders.includes(f)) || 'Exports/Markdown'; const mappedSubpath = env.subpathMap[chosenFolder] || 'meetings';\nconst fileName = `${d.yyyy}-${d.mm}-${d.dd}__${slug}__${noteId}.md`; const filePath = `${env.notesVaultRoot}/${mappedSubpath}/${d.yyyy}/${d.mm}/${fileName}`.replace(/\\\\+/g, '/');\nconst front = ['---','source: granola',`granola_note_id: ${yamlScalar(noteId)}`]; if (title) front.push(`title: \"${yamlScalar(title)}\"`); if (createdAt) front.push(`created_at: ${createdAt}`); if (updatedAt) front.push(`updated_at: ${updatedAt}`); if (p.creator && p.creator.name) front.push(`owner_name: \"${yamlScalar(p.creator.name)}\"`); if (p.creator && p.creator.email) front.push(`owner_email: \"${yamlScalar(p.creator.email)}\"`); if (folders.length) { front.push('folders:'); folders.forEach(f => front.push(`  - \"${yamlScalar(f)}\"`)); }\nconst attendees = Array.isArray(p.attendees) ? p.attendees : []; if (attendees.length) { front.push('attendees:'); attendees.forEach(a => front.push(`  - \"${yamlScalar(typeof a === 'string' ? a : (a.name || ''))}\"`)); }\nif (p.calendar_event && p.calendar_event.title) front.push(`calendar_event_title: \"${yamlScalar(p.calendar_event.title)}\"`); if (p.calendar_event && p.calendar_event.scheduled_start_time) front.push(`scheduled_start_time: ${p.calendar_event.scheduled_start_time}`); if (p.calendar_event && p.calendar_event.scheduled_end_time) front.push(`scheduled_end_time: ${p.calendar_event.scheduled_end_time}`); front.push(`exported_at: ${new Date().toISOString()}`); front.push('---');\nconst summary = p.summary_markdown || p.summary || p.private_notes || ''; const transcript = Array.isArray(p.transcript) ? p.transcript : []; let markdown = `${front.join('\\n')}\\n\\n# ${title}\\n\\n## Summary\\n\\n${summary || '_No summary provided._'}\\n`;\nif (env.includeTranscript && transcript.length) { markdown += '\\n## Transcript\\n\\n'; transcript.forEach(line => { markdown += `- ${(line.speaker || line.speaker_name || 'Speaker')}: ${(line.text || line.content || '')}\\n`; }); }\nreturn [{ json: { status: 'ready', note_id: noteId, fileName, filePath, summary: { notes_scanned: 1, notes_matched: 1, notes_written: 1, notes_skipped: 0, notes_failed: 0 } }, binary: { data: { data: Buffer.from(markdown).toString('base64'), mimeType: 'text/markdown', fileName } } }];"
      }
    },
    {
      "id": "is-ready",
      "name": "Ready To Write?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        320
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equal",
              "value2": "ready"
            }
          ]
        }
      }
    },
    {
      "id": "write-file",
      "name": "Write Markdown File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        920,
        220
      ],
      "parameters": {
        "operation": "write",
        "fileSelector": "={{$json.filePath}}",
        "binaryData": true,
        "dataPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1160,
        320
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, mode: 'zapier', status: $json.status || 'written', note_id: $json.note_id, file_path: $json.filePath, summary: $json.summary || { notes_scanned: 1, notes_matched: 0, notes_written: 0, notes_skipped: 1, notes_failed: 0 } } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown": {
      "main": [
        [
          {
            "node": "Ready To Write?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ready To Write?": {
      "main": [
        [
          {
            "node": "Write Markdown File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Markdown File": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}